tr:nth-child(even){
    background-color: aqua;
}


svg{
    outline: 1px solid red;
    
}

.flex-div{
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-content: center;
}


.div-2 div{
    height: 40px;
    flex-basis: 30%;
    
}

